@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.01em;
}

a {
  color: inherit;
}
